<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        .mainDiv {
            display: flex;
            min-height: 100vh;
            align-items: center;
            justify-content: center;
            background-color: #f9f9f9;
            font-family: 'Open Sans', sans-serif;
        }

        .cardStyle {
            width: 600px;
            border-color: white;
            background: #fff;
            padding: 36px 0;
            border-radius: 4px;
            margin: 30px 0;
            box-shadow: 0px 0 2px 0 rgba(0, 0, 0, 0.25);
        }


        .formTitle {
            font-weight: 600;
            margin-top: 20px;
            color: #2F2D3B;
            text-align: center;
            font-size: 30px;
        }

        .inputLabel {
            font-size: 15px;
            color: #555;
            margin-bottom: 6px;
            margin-top: 24px;
        }

        .inputDiv {
            width: 70%;
            display: flex;
            flex-direction: column;
            margin: auto;
        }

        input {
            height: 40px;
            font-size: 16px;
            border-radius: 4px;
            border: none;
            border: solid 1px #ccc;
            padding: 0 11px;
        }

        input:disabled {
            cursor: not-allowed;
            border: solid 1px #eee;
        }

        .buttonWrapper {
            margin-top: 40px;
        }

        .submitButton {
            width: 70%;
            height: 40px;
            margin: auto;
            display: block;
            color: #fff;
            background-color: #065492;
            border-color: #065492;
            text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
            box-shadow: 0 2px 0 rgba(0, 0, 0, 0.035);
            border-radius: 4px;
            font-size: 14px;
            cursor: pointer;
        }

        .submitButton:disabled,
        button[disabled] {
            border: 1px solid #cccccc;
            background-color: #cccccc;
            color: #666666;
        }
    </style>
</head>

<body>
    <div class="mainDiv">
        <div class="cardStyle">
            <form>
                <h2 class="formTitle">
                    Reset your password
                </h2>


                <div class="inputDiv">
                    <label class="inputLabel" for="password">New Password</label>
                    <input type="password" id="password" name="password" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}$"
                        required>
                    <small>Password must be more than 8 chars combined with uppercase and lowercase, and at least one
                        number</small>
                </div>

                <div class="inputDiv">
                    <label class="inputLabel" for="confirmPassword">Confirm Password</label>
                    <input type="password" id="confirmPassword" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}$"
                        name="confirmPassword">

                </div>

                <div class="buttonWrapper">
                    <button type="submit" class=" submitButton pure-button pure-button-primary">
                        Reset Password
                    </button>
                </div>

            </form>
        </div>
    </div>
    <script>

        document.addEventListener('submit', function (event) {

            event.preventDefault();
            const password = document.getElementById('password');
            const confirmPassword = document.getElementById('confirmPassword');
            if (password.value === confirmPassword.value) {

                fetch('<%= redirectUrl %>', {
                    method: 'POST',
                    body: JSON.stringify({ "password": password.value }),
                    headers: {
                        'Content-type': 'application/json; charset=UTF-8'
                    }
                }).then(function (response) {
                    // console.log(response);
                    alert("Congratulation! Your password has been updated!")
                }).catch(function (error) {
                    console.warn(error);
                });
            }
            else {
                confirmPassword.setCustomValidity("Password and Confirm password doesn't matched!")
            }
        });
    </script>
</body>

</html>